//====================================================================================================

.main-block {
    @include adaptiveValue("padding-top", 40, 20);
    @include adaptiveValue("padding-bottom", 40, 20);

    &__container {

    }

    &__body {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__slider {

    }

    &__swiper {

    }

    &__slide {

    }

    &__media {

    }

    &__advantages {

    }

}

.slide-main-block {

    &__content {

    }

    &__title {
        font-weight: 700;
        font-size: 48px;
        color: #171B24;
        &:not(:last-child) {
            margin-bottom: 20px
        }
    }

    &__sub-title {
        font-weight: 400;
        font-size: 20px;
        color: #454950;

    }

    &__button {

    }

}

.button {

}

.media-main-block {

    &__image {

    }

}

.advantages-main {

    &__item {

    }

    &__icon {

    }

    &__text {

    }

}


.page__action-cards {

}

.action-cards {
    padding-bottom: 80px;
    

    &__card {
        display: flex;
        align-items: stretch;
        width: 100%;
        color: #2F323A;
        border: 1px solid #E8E9EA;
        border-radius: 8px;
        transition: .3s ease;
        &:hover {
            border: 1px solid $mainDarkColor;
        }
        @media (max-width: 900px) {
            flex-direction: column;
            justify-content: end;
        }
    }

    &__container {
        
    }

    &__main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        width: 100%;
        // overflow: auto;
        @media (max-width: 900px) {
            display: flex;
            flex-direction: column;
        }
        
    }

    &__list {
        display: flex;
        flex-direction: column;
        margin: 16px;
        line-height: 1.5;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-block: 16px;
    }

    &__title {
        color: #2F323A;
        font-size: 34px;
        font-weight: 600;
        @media (max-width: 900px) {
            font-size: 26px;
        }

    }

    &__button {
        font-size: 18px;
        line-height: 1.36;
        position: relative;
        padding-right: 24px; // Добавляем отступ справа для размещения иконки
        &::after {
            content: '';
            width: 24px;
            height: 24px; // Добавляем высоту
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%); // Центрируем иконку по вертикали
            background-image: url('/src/iconsfont/arrow.svg'); // Устанавливаем изображение как фон
            background-repeat: no-repeat; // Запрещаем повторение фона
            background-position: center; // Размещаем иконку по центру
        }
    }
}


.price {
    margin-block: 12px 16px;
    font-size: 20px;
    font-weight: 700;
}

.item-action-cards {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;


    &__image {
        align-content: center;
        margin: 0 auto;
        img {
            max-width: 278px;
            height: auto;
            max-height: 230px;
        }
    }

}

.list-action-cards {

    &__item {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        height: 100%;
        justify-content: space-between; /* чтобы элементы внутри были распределены с равным пространством */
    }

    &__title {
        font-size: 16px;
        font-weight: 700;
        transition: .2s ease;
        &:hover {
            color: $colorAccent;
        }
    }

    &__button {
        width: 100%; /* растягиваем кнопку на всю доступную ширину блока */
        border-radius: 15px;
        align-self: flex-end; /* перемещаем кнопку вниз блока */
        
    }
}

.popular-category{
    padding-bottom: 80px;

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: clamp(8px, 10px, 16px);
        @media (max-width: 802px) {
            justify-content: space-between;
        }
        

    }

    &__item {
        border: 2px solid #F6F6F6;
        transition: .3s ease;
        border-radius: 8px;
        &:hover {
            scale: 1.05;
            border: 2px solid $mainDarkColor;
            
        }
    }

    &__container {

    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
    }
    
    &__title {
        color: #2F323A;
        font-size: 34px;
        font-weight: 600;
        @media (max-width: 900px) {
            font-size: 26px;
        }
    
    }
    
    &__button {
        font-size: 18px;
        line-height: 1.36;
        position: relative;
        padding-right: 24px; // Добавляем отступ справа для размещения иконки
        &::after {
            content: '';
            width: 24px;
            height: 24px; // Добавляем высоту
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%); // Центрируем иконку по вертикали
            background-image: url('/src/iconsfont/arrow.svg'); // Устанавливаем изображение как фон
            background-repeat: no-repeat; // Запрещаем повторение фона
            background-position: center; // Размещаем иконку по центру
        }
    }

}

.category-link {
    &__title {
        color: #2F323A;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        margin: 12px 12px 16px 12px;
    }

    &__image {
        max-height: 180px;
        width: 180px;
        padding-bottom: 5px;
    }
}

span {
    font-size: 18px;
    text-align: center;
    padding-inline: 5px;
}






//====================================================================================================
